@import '~material-design-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@import url('./contentLeft.css');
@import url('./contentRight.css');
@import url('./navbar.css');
@import url('./task.css');
@import url('./projects.css');

html, body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  --offwhite: rgb(242, 242, 242);
  --sidebar-font-color: rgb(43, 43, 43);
  overflow: hidden;
}

.content {
  display: flex;
  position: relative;
  height: calc(100% - 50px);
  width: 100%;
}

.footer {
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
  color: rgb(154, 154, 154);
  right: 0;
  left: 0;
  bottom: 20px;
}