/* task-styles */
.task-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 30px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 8px;
  border-radius: 5px;
}

.task > .left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-name {
  font-size: 1.3rem;
  color: var(--sidebar-font-color)
}

.checked {
  cursor: pointer;
  border-radius: 100%;
}

.checked:hover {
  background-color: rgb(218, 218, 218);
}

.task > .right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  color: rgb(117, 117, 117);
}

.project-indicator {
  color: red;
  cursor: pointer;
}

.project-indicator2 {
  color: rgb(18, 172, 224);
  cursor: pointer;
}

.task-buttons:hover {
  cursor: pointer;
  color: rgb(162, 162, 162);
}

/* task form styles */

.task-form {
  display: "none";
  background-color: var(--theme-color);
  padding: 20px 20px;
  padding-left: 0;
  border-radius: 5px;
}

.task-form section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  text-align: right;
  gap: 10px;
}

.task-form label {
  color: var(--offwhite);
}

.task-form input, .task-form select {
  border: none;
  outline: none;
  border-radius: 3px;
}